<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderPlaceholder>
        <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']"
                   type="Site.Infrastructure.Pipelines.Renderings.PerformRendering, Site.Infrastructure" />
      </mvc.renderPlaceholder>
      <getPlaceholderRenderings>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
                   type="Site.Infrastructure.Pipelines.Renderings.GetDynamicKeyAllowedRenderings, Site.Infrastructure" />
      </getPlaceholderRenderings>
      <getChromeData>
        <processor patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"
                   type="Site.Infrastructure.Pipelines.Renderings.GetDynamicPlaceholderChomeData, Site.Infrastructure" />
      </getChromeData>
      <executePageEditorAction>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']"
                   type="Site.Infrastructure.Pipelines.Renderings.InsertRendering, Site.Infrastructure" />
      </executePageEditorAction>
    </pipelines>
  </sitecore>
</configuration>