<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderPlaceholder>
        <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']"
                   type="Sitecore.Foundation.DynamicPlaceholders.Pipelines.Renderings.PerformRendering, Sitecore.Foundation.DynamicPlaceholders" />
      </mvc.renderPlaceholder>
      <getPlaceholderRenderings>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
                   type="Sitecore.Foundation.DynamicPlaceholders.Pipelines.Renderings.GetDynamicKeyAllowedRenderings, Sitecore.Foundation.DynamicPlaceholders" />
      </getPlaceholderRenderings>
      <getChromeData>
        <processor patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"
                   type="Sitecore.Foundation.DynamicPlaceholders.Pipelines.Renderings.GetDynamicPlaceholderChromeData, Sitecore.Foundation.DynamicPlaceholders" />
      </getChromeData>
      <executePageEditorAction>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']"
                   type="Sitecore.Foundation.Pipelines.Renderings.InsertRendering, Sitecore.Foundation.DynamicPlaceholders" />
      </executePageEditorAction>
    </pipelines>
  </sitecore>
</configuration>